.article {
  background: var(--background-color-base);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 15px 24px;
  margin-bottom: 26px;

  // top side
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
  }
  &__title-like {
    display: flex;
    margin-bottom: 6px;
  }
  &__title {
    display: block;
    color: var(--info-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: var(--info-color-10);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__tag {
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 1px 5px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--text-color-secondary);
    border-radius: 2px;
  }
  &__person {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &__namedate {
  }
  &__name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--heading-color);
  }
  &__date {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: var(--text-color-secondary);
    text-align: right;
  }
  &__avatar {
    display: flex;
    width: 46px;
    height: 46px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn-box {
    position: absolute;
    bottom: 0;
    transform: translateY(130%);
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__btn-delete {
    font-family: Inter, sans-serif;
    padding: 6px 17px;
    border: 1px solid var(--error-color);
    border-radius: 5px;
    color: var(--error-color);
  }
  &__btn-edit {
    font-family: Inter, sans-serif;
    padding: 6px 17px;
    border: 1px solid var(--success-color);
    border-radius: 5px;

    a {
      outline: none;
      text-decoration: none;
      color: var(--success-color);
    }
  }

  // bottom side
  &__bottom {
    margin-top: 8px;
  }
  &__excerpt {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1.83;
    color: var(--text-color);
    max-width: 73%;
  }
  &__markdown {
    margin-top: 25px;
  }
}
