.header {
  padding: 15px 0;
  background: var(--background-color-base);
  font-family: 'Inter', sans-serif;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__sitetitle {
    margin-right: auto;
    font-size: 18px;
    text-decoration: none;
    color: inherit;

    &:visited {
      text-decoration: none;
    }
    &:active {
      outline: none;
    }
  }

  &__sign-in {
    font-family: inherit;
    font-size: 18px;
    color: var(--heading-color);
    // margin-right: 30px;
  }

  &__sign-up {
    font-family: inherit;
    font-size: 18px;
    color: var(--success-color);
    border: 1px solid var(--success-color);
    border-radius: 5px;
    padding: 8px 18px;
  }

  &__create-art {
    font-family: inherit;
    color: var(--success-color);
    border: 1px solid var(--success-color);
    padding: 6px 10px;
    line-height: 1.5;
    border-radius: 5px;
  }

  &__user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    font-size: 18px;
    line-height: 1.55;
  }

  &__user-avatar {
    width: 46px;
    height: 46px;
    position: relative;
    color: var(--heading-color);
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__log-out {
    color: var(--text-color);
    font-size: 18px;
    border: 1px solid var(--text-color);
    padding: 8px 18px;
    border-radius: 5px;
  }
}
