:root {
  --heading-color: #000000d9;
  --text-color: #000000bf;
  --text-color-secondary: #00000080;
  --disabled-color: #00000059;
  --form-color: #262626;
  --dividers: #00000017;
  --background: #ebeef3;
  --table-header: #00000005;
  --primary-color: #1890ff;
  --info-color: #1890ff;
  --info-color-10: #1676d1;
  --success-color: #52c41a;
  --processing-color: #1890ff;
  --error-color: #f5222d;
  --highlight-color: #f5222d;
  --warning-color: #faad14;
  --normal-color: #d9d9d9;
  --disabled-color-dark: #ffffff59;
  --background-color-base: #fff;
  --border-color-base: #d9d9d9;
  --btn-primary-color: #fff;
}
